<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>current_user_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,70},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,40},{28,24}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{28,24}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,222},{44,32}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,27},{44,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,772},{58,44}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{58,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,705},{74,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{74,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,758},{80,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{80,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,698},{80,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{78,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,936},{66,64}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>laser_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,92},{35,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,10}}</string>
                <key>sourceSize</key>
                <string>{35,10}</string>
            </dict>
            <key>p1_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,772},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,629},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,421},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{67,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,94}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>p1_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,562},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p1_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,290},{66,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{66,93}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,71},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,71},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,145},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,355},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,353},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,218},{68,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,288},{66,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p2_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,816},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>p2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p2_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,493},{67,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,92}}</string>
                <key>sourceSize</key>
                <string>{67,92}</string>
            </dict>
            <key>p2_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{66,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{66,94}</string>
            </dict>
            <key>p2_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,632},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p2_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,565},{66,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,564},{66,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,630},{66,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{70,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,700},{70,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,633},{70,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,427},{68,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,358},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,423},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p2_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,561},{66,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>p3_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>p3_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,497},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p3_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,356},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>p3_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{67,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,94}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>p3_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,496},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p3_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,222},{66,93}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{66,93}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,76},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,70},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,150},{70,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{68,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,217},{68,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,287},{66,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p3_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,215},{68,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p4_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,779},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>p4_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,428},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p4_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,492},{67,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,92}}</string>
                <key>sourceSize</key>
                <string>{67,92}</string>
            </dict>
            <key>p4_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,285},{66,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{66,93}</string>
            </dict>
            <key>p4_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p4_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,145},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>p4_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,697},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{26,36}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{26,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,358},{34,36}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{34,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,490},{56,36}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,428},{60,36}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{60,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,936},{68,38}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,714},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,632},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,632},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,759},{74,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{74,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{68,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,866},{68,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,832},{68,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speed_lines_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,796},{68,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29db4ea9240d3eda4bcf49a09418f9da:99e304f815d806e3471601b6ed6e59f6:bafda4b72bdf00973f3e8ffe55fd29f1$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
