<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,97},{230,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{230,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{427,93}}</string>
                <key>sourceSize</key>
                <string>{429,107}</string>
            </dict>
            <key>menu_main_ufo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{149,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,142}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
            <key>menu_main_ufo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,329},{166,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{166,148}</string>
            </dict>
            <key>menu_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{270,294}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{270,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>menu_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,479},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>menu_play_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>menu_select_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_select_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24bbebd56536f076a6aa077fcf59cd6b:3656b39cf7d52b1de7268f4d1955f0f7:50608f3c9ee34100c7eeea00828b6e50$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
