<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>current_user_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1514},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,166},{56,50}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,63},{56,50}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{88,66}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,53},{88,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1304},{116,88}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{116,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1576},{148,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{148,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1378},{160,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{160,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1394},{160,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{160,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1492},{156,124}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{156,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1650},{132,130}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{132,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>laser_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1382},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>p1_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1544},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1248},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,834},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,140},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>p1_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1238},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p1_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,140},{134,188}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{134,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{134,186}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,410},{144,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{144,186}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{144,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{142,186}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{142,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{142,188}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{142,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,832},{134,186}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,698},{134,186}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{136,188}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{136,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p1_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{134,186}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p2_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>p2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1108},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p2_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{134,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{134,184}</string>
            </dict>
            <key>p2_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,276},{132,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>p2_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p2_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,982},{134,184}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{134,184}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,978},{134,184}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1242},{134,182}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1372},{140,180}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{140,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,182}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1252},{140,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,182}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,556},{138,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,186}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,422},{138,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,186}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{136,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,186}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,574},{136,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,186}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p2_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,712},{134,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{134,186}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>p3_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1514},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>p3_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1118},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p3_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>p3_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,148},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>p3_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1114},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p3_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,706},{134,186}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,696},{134,186}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,284},{144,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,278},{144,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,276},{144,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,430},{142,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{142,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,424},{142,186}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{142,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{136,188}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{136,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{136,188}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{136,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,562},{134,186}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{134,186}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p3_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{136,188}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,188}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>p4_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1514},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>p4_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1104},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p4_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,968},{134,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{134,184}</string>
            </dict>
            <key>p4_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,848},{132,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,186}}</string>
                <key>sourceSize</key>
                <string>{132,186}</string>
            </dict>
            <key>p4_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,974},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p4_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,568},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>p4_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,192}}</string>
                <key>sourceSize</key>
                <string>{140,192}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1382},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,378},{48,72}}</string>
                <key>offset</key>
                <string>{56,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,41},{48,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,92},{62,72}}</string>
                <key>offset</key>
                <string>{49,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,41},{62,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1502},{108,72}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{108,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,452},{116,72}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{116,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1040},{132,78}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,41},{132,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,732},{156,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{156,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,570},{160,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{160,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,570},{160,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{160,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,890},{148,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{148,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1174},{128,78}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{128,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1422},{108,78}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{108,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,298},{68,78}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{68,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speed_lines_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,218},{48,78}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{48,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29db4ea9240d3eda4bcf49a09418f9da:99e304f815d806e3471601b6ed6e59f6:bafda4b72bdf00973f3e8ffe55fd29f1$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
