<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hud_activity_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>hud_wait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{112,202}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{112,202}}</string>
                <key>sourceSize</key>
                <string>{120,206}</string>
            </dict>
            <key>hud_wait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{148,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{148,136}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
            <key>hud_wait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,160},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>hud_wait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,160},{140,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>hud_wait_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{464,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,176}}</string>
                <key>sourceSize</key>
                <string>{464,178}</string>
            </dict>
            <key>hud_waiting_for_players.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,156}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{768,156}}</string>
                <key>sourceSize</key>
                <string>{800,228}</string>
            </dict>
            <key>hud_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,722},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>jump_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,520},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>use_fire_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,318},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>use_shield_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>use_speed_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,116},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InGame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e481c3449edd5044c2afd7d8a20f6ca:580f884538af0bec9349b84d3e103601:c6c7baad80f8b917810125225f0dcaaa$</string>
            <key>textureFileName</key>
            <string>InGame.png</string>
        </dict>
    </dict>
</plist>
