<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,326},{462,400}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,101},{462,400}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,188}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{854,188}}</string>
                <key>sourceSize</key>
                <string>{858,214}</string>
            </dict>
            <key>menu_main_ufo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{298,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,284}}</string>
                <key>sourceSize</key>
                <string>{298,284}</string>
            </dict>
            <key>menu_main_ufo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{332,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,296}}</string>
                <key>sourceSize</key>
                <string>{332,296}</string>
            </dict>
            <key>menu_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{540,588}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{540,588}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>menu_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,790},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>menu_play_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>menu_select_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>menu_select_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24bbebd56536f076a6aa077fcf59cd6b:3656b39cf7d52b1de7268f4d1955f0f7:50608f3c9ee34100c7eeea00828b6e50$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
