<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>current_user_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,295},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,365},{14,12}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{14,12}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,397},{22,18}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{22,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,397},{30,22}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{30,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,463},{38,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,368},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,365},{40,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,421},{40,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{40,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{34,32}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{34,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>laser_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,40},{18,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,5}}</string>
                <key>sourceSize</key>
                <string>{18,5}</string>
            </dict>
            <key>p1_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,421},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,330},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,259},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>p1_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,296},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p1_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,223},{34,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,40},{36,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{36,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,77},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,40},{36,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{36,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,187},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,187},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,188},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p1_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p2_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,459},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>p2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p2_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,259},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>p2_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,258},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>p2_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,330},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p2_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,115},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,223},{33,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{33,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,365},{35,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,363},{35,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,114},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,78},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,78},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,77},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,40},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p2_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,223},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>p3_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,331},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>p3_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,328},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p3_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,258},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>p3_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,187},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>p3_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,295},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p3_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,151},{34,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,151},{34,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{36,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{36,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,39},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{36,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,152},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,151},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p3_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,115},{34,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,47}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>p4_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,400},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>p4_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,295},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p4_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>p4_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,224},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>p4_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,293},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>p4_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,115},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>p4_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,401},{12,18}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{12,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,458},{16,18}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{16,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,488},{28,18}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{28,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{30,18}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,436},{34,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{34,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,463},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,399},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,399},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,421},{38,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,331},{32,20}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{32,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,458},{28,20}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{28,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,488},{18,20}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{18,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speed_lines_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,379},{12,20}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{12,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29db4ea9240d3eda4bcf49a09418f9da:99e304f815d806e3471601b6ed6e59f6:bafda4b72bdf00973f3e8ffe55fd29f1$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
